---
 const personalImageAlt = "Alejandro Gálvez"
---

<article class=" group flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="ml-4 mr-4 [&>p]:mb-4 [&>p>strong]:text-[#6472b1] dark:[&>p>strong]:text-[#D8D96f] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>Soy estudiante de Desarrollo de Aplicaciones Multiplataforma (DAM) apasionado por <strong>el deporte y la programación</strong>. 
    Aunque no parezcan muy similares, ambos me han enseñado <strong>constancia, trabajo duro y satisfacción</strong> 
    al ver los frutos del esfuerzo.</p>

  <p>Trabajo constantemente en <strong>desarrollar mis habilidades</strong> para avanzar como desarrollador y especializarme en <strong>backend.</strong></p>    
  <p>Mis metas a corto y medio plazo son <strong>contribuir activamente a un equipo de desarrollo</strong> y ser un miembro competente y confiable. A largo plazo, aspiro a <strong>liderar equipos de desarrollo</strong>, aplicando los conocimientos y habilidades adquiridos para guiar proyectos complejos hacia el éxito.</p>
  
</div>

  <img width="200" height="200" src="/foto-perfil.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 group-hover:rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

