---
const { icon: Icon, title } = Astro.props;
---

<li class=" flex flex-col items-center p-4 bg-[#b0c2eb] rounded shadow-lg hover:scale-110 font-bold">
    <Icon class="size-20" />
    <p class="text-black mt-2">{title}</p>
</li>

